#heart {
    position: relative;
    width: 100px;
    height: 60px;
    display: inline-block;
  }
  
#heart:before, #heart:after
{
 position: absolute;
 content: "";
 left: 50px;
 top: 0;
 width: 50px;
 height: 80px;
 background: #aa0000;
 border-radius: 50px 50px 0 0;
 transform: rotate(-45deg);
 transform-origin: 0 100%;
 /* animation:pulsecolor 1s infinite; */
}
#heart:after{
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    left: 0;
}
